@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 29 30% 62%; /* Base color #BC9E82 as background */
    --foreground: 29 30% 12%; /* Darker shade for readability */

    --card: 29 30% 62%; /* Lighter shade for card backgrounds */
    --card-foreground: 26 28% 20%; /* Darker shade for text on cards */

    --popover: 29 30% 62%; /* Consistent with card background */
    --popover-foreground: 26 28% 20%; /* Consistent with card text */

    --primary: 29 30% 12%; /* Slightly more saturated for primary elements */
    --primary-foreground: 29 30% 85%; /* White for primary text */

    --secondary: 26 10% 90%; /* Lighter tint for secondary elements */
    --secondary-foreground: 26 40% 30%; /* Darker shade for secondary text */

    --muted: 26 10% 90%; /* Soft shade for muted elements */
    --muted-foreground: 26 30% 40%; /* Medium shade for muted text */

    --accent: 29 30% 15%; /* Complementary blue as accent color */
    --accent-foreground: 0 0% 100%; /* White for accent text */

    --destructive: 0 84.2% 28.2%; /* Retaining the original red for destructive */
    --destructive-foreground: 0 0% 100%; /* White for destructive text */

    --border: 29 30% 58%; /* Soft border color */
    --input: 29 30% 35%; /* Light color for input fields */
    --ring: 29 30% 20%; /* Slightly darker for focus ring */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    font-family: "Montserrat", "system-ui", "sans-serif";
  }
}

.rdp-vhidden {
  @apply hidden;
}
